{% extends 'base.html' %}

{% block content %}
<!-- ***** Login Form Starts ***** -->
<div class="centered-wrapper">
        <div class="login-register-box">

            <h4>Login</h4>

            <form id="login" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="errorlist">Invalid email or password!</div>
                {% endif %}
                {% for field in form %}
                    <div style="margin-top: 15px;">
                        <div style="font-weight: bold;">
                        {{ field.label }}
                        </div>
                        {{ field.errors }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <!-- ***** Login Form Ends ***** -->

    <div>
            <!-- Link to Register Page -->
            <h6 style="text-align: center">Don't have an account? <a href="{% url 'register' %}">Register</a></h6>
    </div>



{% endblock %}
