{% extends 'base.html' %}

{% block content %}

<!-- Product Filter Start -->
<div class="menu-area">
    <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 30px">
            <div class="col-lg-12">
                <ul class="menu d-flex justify-content-center">
                    <li><a href="{% url 'products_all' %}">All</a></li>
                    <li><a href="{% url 'products_women' %}">Women</a></li>
                    <li class="active"><a href="{% url 'products_men' %}">Men</a></li>
                    <li><a href="{% url 'products_kids' %}">Kids</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Product Filter End  -->


{% include 'products/product-area-common.html' %}

{% endblock %}
