{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'images/team.jpg' %}" alt="team image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us</h4>
                        <p>Welcome to our hilarious haven of custom t-shirts!</p>
                        <span>We're a spirited bunch of young enthusiasts who have embarked on a mission
                            to spread laughter, one outrageously funny t-shirt at a time. Our love for what
                            we do fuels our creative fire, and we're absolutely smitten with curating a
                            collection that tickles your funny bone and ignites your sense of humor.
                            At our web store, we're not just selling t-shirts; we're sharing bursts of
                            happiness and a dash of individuality. Every design is a testament to our
                            passion for crafting personalized garments that reflect your unique style
                            and make you stand out from the crowd.
                            Our journey is guided by an unwavering commitment to infuse playfulness into every thread,
                            celebrating life's quirks and turning ordinary moments into extraordinary memories.
                            We invite you to explore our ever-growing assortment of witty, charming, and downright
                            sidesplitting designs that capture the essence of fun.
                            So, whether you're looking to brighten your own day or gift someone a slice of laughter,
                            you've come to the right place. Join us on this delightful ride, and let's embrace the
                            magic of mirth together!</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

{% endblock %}