{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="faq" style="height: 50vh">
        <div class="container">
            <div class="right-content">
                <H4>Join Our Team</H4>

                <span>Thank you for considering a potential career with T-shirt Central. While we do not have any
                    open positions at the moment, we are always on the lookout for talented and passionate individuals
                    to join our team in the future.</span>

                <span>At T-shirt Central, we believe that creativity, innovation, and a shared sense of humor drive
                    our success. We're a close-knit team of dedicated professionals who are committed to delivering
                    high-quality custom funny t-shirts that bring joy and laughter to our customers.</span>

                <span>While there may not be specific positions available right now, we encourage you to reach out to
                    us if you're interested in becoming part of our team. We value diverse perspectives, fresh ideas,
                    and a strong work ethic. Should a position align with your skills and aspirations, we would be
                    delighted to consider you for any future opportunities that may arise.</span>

                <span>To express your interest or inquire about potential careers at T-shirt Central, please send an
                    email to <a href="#">careers@t-shirt-central.com</a>. Please include your resume, a brief
                    introduction, and any relevant information that showcases your talents and how you believe you
                    can contribute to our mission.</span>

                <span>While we may not be able to respond to every inquiry immediately, rest assured that we will
                    review each submission carefully. Your interest in joining our team is greatly appreciated,
                    and we look forward to the possibility of collaborating with you in the future.</span>

                <span>Thank you for considering T-shirt Central as a potential place to grow your career. Keep an
                    eye on this page for any updates regarding open positions or opportunities to be a part of our
                    creative and dynamic team.</span>

                <p>Sincerely,</p>
                <p>The T-shirt Central Team</p>


            </div>
        </div>
    </div>


{% endblock %}