{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--  Main Banner Area Start  -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Need a fun T-shirt?</h4>

                                <div class="main-border-button">
                                    <a href="{% url 'products_all' %}">Take a look!</a>
                                </div>
                            </div>
                            <img src="{% static 'images/baner-all.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <a href="{% url 'products_women' %}">
                                        <div class="thumb">
                                            <div class="inner-content">
                                                <h4>Women</h4>
                                            </div>
                                            <div class="hover-content">
                                            </div>
                                            <img src="{% static 'images/baner-women.jpg' %}" alt="women">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <a href="{% url 'products_men' %}">
                                        <div class="thumb">
                                            <div class="inner-content">
                                                <h4>Men</h4>
                                            </div>
                                            <div class="hover-content">
                                            </div>
                                            <img src="{% static 'images/baner-men.jpg' %}" alt="men">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <a href="{% url 'products_kids' %}">
                                        <div class="thumb">
                                            <div class="inner-content">
                                                <h4>Kids</h4>
                                            </div>
                                            <div class="hover-content">
                                            </div>
                                            <img src="{% static 'images/baner-kids.jpg' %}" alt="kids">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <a href="{% url 'custom_designs' %}">
                                        <div class="thumb">
                                            <div class="inner-content">
                                                <h4>Custom designs</h4>
                                            </div>
                                            <div class="hover-content">
                                            </div>
                                            <img src="{% static 'images/baner-custom.jpg' %}" alt="custom">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Main Banner Area End  -->


    <!--  Women Area Starts  -->
    <section class="section" id="women">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Women's Latest</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">

                            {% for product in category1_products %}
                            <div class="item">
                                <a href="{% url 'product_single' pk=product.pk %}">
                                    <div class="thumb">
                                        <img src="{{product.image.url}}" alt="product image">
                                    </div>
                                </a>
                                <div class="down-content">
                                    <h4>{{ product.name}}</h4>
                                    <div class="buy-button-container">
                                        <span>${{ product.price }}</span>
                                        <form method="post" action="{% url 'add_to_shopping_cart' product.pk %}#women">
                                        {% csrf_token %}
                                        <input type="submit" value="Buy">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Women Area Ends  -->




    <!--  Men Area Starts  -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Men's Latest</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">

                            {% for product in category2_products %}
                            <div class="item">
                                <a href="{% url 'product_single' pk=product.pk %}">
                                    <div class="thumb">
                                        <img src="{{product.image.url}}" alt="product image">
                                    </div>
                                </a>
                                <div class="down-content">
                                    <h4>{{ product.name}}</h4>
                                    <div class="buy-button-container">
                                        <span>${{ product.price }}</span>
                                        <form method="post" action="{% url 'add_to_shopping_cart' product.pk %}#men">
                                        {% csrf_token %}
                                        <input type="submit" value="Buy">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Men Area Ends  -->

    <!--  Kids Area Starts  -->
    <section class="section" id="kids">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Kid's Latest</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="kid-item-carousel">
                        <div class="owl-kid-item owl-carousel">

                             {% for product in category3_products %}
                            <div class="item">
                                <a href="{% url 'product_single' pk=product.pk %}">
                                    <div class="thumb">
                                        <img src="{{product.image.url}}" alt="product image">
                                    </div>
                                </a>
                                <div class="down-content">
                                    <h4>{{ product.name}}</h4>
                                    <div class="buy-button-container">
                                        <span>${{ product.price }}</span>
                                        <form method="post" action="{% url 'add_to_shopping_cart' product.pk %}#kids">
                                        {% csrf_token %}
                                        <input type="submit" value="Buy">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Kids Area Ends -->

<script src="{% static 'js/scroll_to_section.js' %}"></script>

{% endblock %}